@model ToDo.Models.TaskModels

@{
    ViewBag.Title = "Eliminar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mui--appbar-height"></div>
<br>
<br>
<div id="taskForm" class="mui-container">
<h3>Esta seguro que desea eliminar la tarea?</h3>
<fieldset>
    <legend>Detalle de la tarea</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsComplete)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsComplete)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Priority)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Priority)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExpirationDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExpirationDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedAt)
    </div>
</fieldset>
</div>
<br />
@using (Html.BeginForm()) {
    <p>
        <input type="submit" class="mui-btn mui-btn--danger mui-btn--raised" value="Eliminar" /> |
        @Html.ActionLink("Regresar a la lista", "Index")
    </p>
}
