@model IEnumerable<ToDo.Models.TaskModels>

@{
    ViewBag.Title = "Lista de tareas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mui--appbar-height"></div>
<br>
<br>
<div class="mui-container">
    
    <div class="mui--text-center">
        <h2>Hola, @User.Identity.Name</h2>
    </div>
    <div class="mui--text-right">
        @Html.ActionLink("+", "Create", new { }, new { @class = "mui-btn mui-btn--fab mui-btn--primary" })
    </div>
    <table class="mui-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsComplete)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Priority)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExpirationDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreatedAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UpdatedAt)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IsComplete)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Priority)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ExpirationDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedAt)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
                        @Html.ActionLink("Detalle", "Details", new { id=item.Id }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>