@model ToDo.Models.LocalPasswordModel

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Cambio de contraseña</legend>
        <ul class="mui-list--unstyled mui--text-body2">
            <li class="mui-textfield">
                @Html.LabelFor(m => m.OldPassword)
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li class="mui-textfield">
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li class="mui-textfield">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ul>
        <input type="submit" class="mui-btn mui-btn--raised" value="Cambiar contraseña" />
    </fieldset>
}
